absl-py==2.1.0
argcomplete==1.8.1
attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.4
box2d-py==2.3.5
certifi==2020.6.20
chardet==4.0.0
clang==17.0.6
click==8.0.3
cloud-init==24.4
cloudpickle==3.1.1
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.3.1
cryptography==3.4.8
cv==1.0.0
cycler==0.12.1
dbus-python==1.2.18
distro==1.7.0
distro-info==1.1+ubuntu0.2
Farama-Notifications==0.0.4
filelock==3.17.0
fonttools==4.56.0
fsspec==2025.2.0
grpcio==1.70.0
gym==0.25.2
gym-notices==0.0.8
gym-super-mario-bros==7.4.0
gymnasium==1.0.0
httplib2==0.20.2
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
incremental==21.3.0
jeepney==0.7.1
Jinja2==3.0.3
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==23.5.0
kiwisolver==1.4.8
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.10.0
more-itertools==8.10.0
mpmath==1.3.0
nes-py==8.2.1
netifaces==0.11.0
networkx==3.4.2
numpy==1.26.4
oauthlib==3.2.0
opencv-python==4.11.0.86
packaging==24.2
pandas==2.2.3
pillow==11.1.0
protobuf==5.29.3
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycurl==7.44.1
pygame==2.6.1
pyglet==1.5.21
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
pytz==2022.1
PyYAML==5.4.1
requests==2.25.1
SecretStorage==3.3.1
service-identity==18.1.0
six==1.16.0
stable_baselines3==2.5.0
swig==4.3.0
sympy==1.12.1
systemd-python==234
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tqdm==4.67.1
Twisted==22.1.0
typing_extensions==4.12.2
tzdata==2025.1
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
vizdoom==1.2.4
wadllib==1.3.6
Werkzeug==3.1.3
zipp==1.0.0
zope.interface==5.4.0
